<div class="gd-header-inner">
  <span className="backendInfoItem" style="font-size: 16px;">
    Connected to:
    <span className="backendInfoValue">{{backendUrlForInfo}}</span>
  </span>
  <span className="backendInfoItem" style="font-size: 16px; padding-left: 50px;">
    Project ID:
    <span className="backendInfoValue" >{{projectId}}</span>
  </span>
  <span className="backendInfoItem" style="font-size: 16px; padding-left: 50px;">
    <span className="backendInfoValue">
        <a
            rel="noopener noreferrer"
            target="_blank"
            href="https://github.com/gooddata/gooddata-react-components/blob/master/examples/src/utils/fixtures.js#L25"
        >
            Data Used
        </a>
    </span>    
</span>
<span className="backendInfoItem" style="font-size: 16px; padding-left: 50px;">
  <a href="https://sdk.gooddata.com/gooddata-ui/docs/about_gooddataui.html" > About GoodData UI</a>
</span>
</div>
