
<h2>Visualization </h2>
<p>These are the examples of the generic Visualization component that uses URI or Identifier to identify insights.</p>
<hr className="separator" />

<h3>Visualization Area Chart by Identifier</h3> 
<app-visualization-area-chart></app-visualization-area-chart>

<h3>Visualization Line Chart by Uri </h3> 
<app-visualization-area-chart-by-uri></app-visualization-area-chart-by-uri>

<h3>Visualization Pivot Table By Identifier</h3> 
<app-visualization-pivot-table></app-visualization-pivot-table>

<h3>Visualization Bar Chart by Identifier</h3> 
<app-visualization-bar-chart></app-visualization-bar-chart>

<h3>Visualization Column Chart by Identifier</h3> 
<app-visualization-column-chart></app-visualization-column-chart>

<h3>Visualization Stack Column Chart by URI</h3> 
<app-visualization-column-chart-by-uri></app-visualization-column-chart-by-uri>

<h3>Visualization Line Chart by Identifier</h3> 
<app-visualization-line-chart></app-visualization-line-chart>

<h3>Visualization Line Chart by Uri</h3> 
<app-visualization-line-chart-by-uri></app-visualization-line-chart-by-uri>