.employeeProfile {
    display: flex;
    margin-top: 20px;
}

.picture {
    border-radius: 50%;
    border: 2px solid #14b2e2;
    width: 100px;
    height: 100px;
}

.text {
    flex: 1 1 auto;
    margin-left: 20px;
}

.layout-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
}

h3 {
    margin-top: 0;
    border-bottom: 2px solid #14b2e2;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.employeeTable {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.employeeTableWrapper {
    position: relative;
    height: 100%;
    flex: 1 0 auto;
}

.details {
    padding-left: 20px;
}

.employeesHeading {
    margin-top: 20px;
}
