
<h2>Basic Components</h2>
<p>The following components accept measures and attributes, perform the execution, and render data as a chart, table or KPI.</p>
<hr className="separator" />

<h3>KPI</h3>
<app-kpi></app-kpi>
<hr className="separator" />

<h3>Head Line</h3> 
<app-head-line></app-head-line>
<hr className="separator" />

<h3>Pie chart has 1 measure, 1 attribute</h3>
<app-pie-chart></app-pie-chart> 
<hr className="separator" />

<h3>Table</h3> 
<app-table></app-table>
<hr className="separator" /> 

<h3>Bar chart has 1 measure, 1 viewBy</h3> 
<app-bar-chart></app-bar-chart> 
<hr className="separator" />

<h3>Column chart has 1 measure, 1 viewBy ans sort by measure</h3> 
<app-column-chart></app-column-chart> 
<hr className="separator" />

<h3>Line chart</h3> 
<app-line-chart></app-line-chart> 
<hr className="separator" />

<h3>Line chart has 1 measures, 1 trendBy, 1 SegmentBy</h3> 
<app-line-chart-has-segment-by></app-line-chart-has-segment-by> 
<hr className="separator" />

<h3>Area Chart has StackBy</h3> 
<app-area-chart></app-area-chart>
<hr className="separator" />

<h3>Area Chart has color palette</h3> 
<app-area-chart-has-color-palette></app-area-chart-has-color-palette>
<hr className="separator" />

<h3>Combo chart</h3> 
<app-combo-chart></app-combo-chart>
<hr className="separator" />

<h3>Heat Map</h3> 
<app-heat-map></app-heat-map>
<hr className="separator" />

<h3>Tree Map</h3> 
<app-tree-map></app-tree-map>
<hr className="separator" />

<h3>Donut chart</h3> 
<app-donut-chart></app-donut-chart>
<hr className="separator" />

<h3>Scatter Plot</h3> 
<app-scatter-plot></app-scatter-plot>
<hr className="separator" />

<h3>Bubble Chart</h3> 
<app-bubble-chart></app-bubble-chart>
<hr className="separator" />

<h3>Dual Axes Column Chart</h3> 
<app-dual-column-chart></app-dual-column-chart>

<hr className="separator" />
<h3>Pie Chart with color mapping</h3> 
<app-pie-chart-color-mapping></app-pie-chart-color-mapping>