<h2>Drilling Components</h2>
<p>These examples show how to use the Drilling Event components.</p>

<div>
    <h3>Table Drilling </h3>
    <app-table-drill-example></app-table-drill-example> 
</div>
<div>
    <h3>Drill With External Data</h3>
    <p>Here is how you can use visualization drilling to display 3rd party content based on the clicked item.</p>
    <p>You can display a mock user profile by clicking on an employee name. An request is created using the selected employee name and retrieves the mock employee information asynchroneously.</p>
    <app-drill-with-external-data></app-drill-with-external-data> 
</div>