<app-header></app-header>
<div style="margin-left: 100px;">
    <mat-sidenav-container style ="background-color: #fafafa;">
        <mat-sidenav mode="side" opened style="border-right: solid 0px; background-color: #fafafa;">
        <mat-nav-list style ="border: 1px solid #efe9e9; border-radius: 5px;margin: auto; background-color: #FFFFFF;">
            <a mat-list-item [routerLink]="'/'"> Basic Components </a>
            <a mat-list-item [routerLink]="'/pivot-table'"> Pivot Table </a>
            <a mat-list-item [routerLink]="'/visualization/visualization-by-uri'"> Visualization Component </a>
            <a mat-list-item [routerLink]="'/sorting'"> Sorting </a>
            <a mat-list-item [routerLink]="'/time-over-time-comparison'"> Time Over Time Comparision </a>
            <a mat-list-item [routerLink]="'/attribute-filter-components'"> Attribute Filter Component </a>
            <a mat-list-item [routerLink]="'/date-filter-component'"> Date Filter Component </a>
            <a mat-list-item [routerLink]="'/arithmetic-measures'"> Arithmetic Measures </a>
            <a mat-list-item [routerLink]="'/measure-value-filter/filter-by-measure-value'"> Measure Value Filter </a>
            <a mat-list-item [routerLink]="'/advanced/global-filters'"> Advanced Use Cases </a>
            <a mat-list-item [routerLink]="'/export/chart'"> Export </a>
            <a mat-list-item [routerLink]="'/drilling'"> Drilling </a>
        </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="margin-left: 20px;margin-right: 150px;">
                <router-outlet></router-outlet>               
                <h2>Time Over Time Comparison</h2>
                <p>These examples show how to configure visual components like column charts or headlines to show data compared to the previous period or to the same period of the previous year.</p> 
                <hr className="separator"/>

                <h3>Comparing to the same period previous year</h3>
                <app-same-period-column-chart-example></app-same-period-column-chart-example>

                <h3>Comparing to the previous period with Column chart</h3>
                <app-previous-period-column-chart-example></app-previous-period-column-chart-example>

                <h3>Comparing to the previous period with Headline</h3>
                <app-previous-period-headline-example></app-previous-period-headline-example>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div> 
