<p>Attribute defined by identifier</p>
<div class="attribute-filter" style="height:100px" [id]="rootDomID"></div>

<p>Attribute defined by display form uri</p>
<div class="attribute-filter-by-uri" style="height:100px" [id]="rootFilterByURI"></div>

<p>Attribute defined by filter definition, including selection</p>
<div class="attribute-filter-by-definition" style="height:100px" [id]="rootFilterDefinition"></div>

<p>Attribute filter with new onApplyWithFilterDefinition</p>
<div class="attribute-filter-with-onApplydefinition" style="height:100px" [id]="rootOnApplyWithFilterDefinition"></div>
