/* You can add global styles to this file, and also import other style files */

@import "@gooddata/react-components/styles/css/main.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "@gooddata/react-components/styles/css/pivotTable.css";
/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
.separator {
    border-style: solid;
    border-color: rgb(238, 238, 238);
    border-image: initial;
    border-width: 1px 0px 0px;
    margin: 20px 0px;
}