<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <img src="https://secure.gooddata.com/images/logo-new.png" alt="GoodData.UI Examples" class="jsx-4159900335 gd-header-logo-img" style="height: 30px">
      <h1>GoodData.UI</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button href="https://sdk.gooddata.com/gooddata-ui/docs/about_gooddataui.html"> Docs </a>
        <a mat-button href="https://sdk.gooddata.com/gooddata-ui/docs/support_options.html"> Support </a>
        <a mat-button [routerLink]="'/basic-components'"> Live Examples </a>
      </div>
    </mat-toolbar-row>
    <a href="https://sdk.gooddata.com/gooddata-ui/docs/about_gooddataui.html" target="_top"> About GoodData UI</a>
    <mat-toolbar-row>
        <span style="font-size: 16px;">Connected to: https://staging3.intgdc.com</span>
        <span style="font-size: 16px; padding-left: 50px;">Project ID: ht3owbpk6h0yfjtkcsgva3osu3z7paol</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
        <mat-sidenav #sidenav>
          <mat-nav-list>
      
            <a mat-list-item [routerLink]="'/basic-components'"> Basic Components </a>
            <a mat-list-item [routerLink]="'/pivot-table-components'"> Pivot Tables </a>
            <a mat-list-item [routerLink]="'/sorting-components'"> Sorting Components </a>
            <a mat-list-item [routerLink]="'/time-over-time-comparison'"> Time Over Time Comparision </a>
            <a mat-list-item [routerLink]="'/visualization-components'"> Visualization Components </a>
            <a mat-list-item [routerLink]="'/drilling-components'"> Drilling Components </a>
            <a mat-list-item [routerLink]="'/attribute-filter-components'"> Attribute Filter Components </a>
            <a mat-list-item [routerLink]="'/arithmetic-measure-components'"> Arithmetic Measures </a>
            <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <div >
      
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
      
  
  